In [4]:
import pandas as pd
import numpy as np

In [5]:
stud = pd.read_csv('StudentsPerformance.csv')

In [3]:
stud.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [15]:
stud.loc[stud.lunch == 'free/reduced']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
17,female,group B,some high school,free/reduced,none,18,32,28
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
stud.lunch

0          standard
1          standard
2          standard
3      free/reduced
4          standard
           ...
995        standard
996    free/reduced
997    free/reduced
998        standard
999    free/reduced
Name: lunch, Length: 1000, dtype: object

In [18]:
stud.loc[stud.lunch == 'free/reduced'].value_counts

<bound method DataFrame.value_counts of      gender race/ethnicity parental level of education         lunch  \
3      male        group A          associate's degree  free/reduced
7      male        group B                some college  free/reduced
8      male        group D                 high school  free/reduced
9    female        group B                 high school  free/reduced
17   female        group B            some high school  free/reduced
..      ...            ...                         ...           ...
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
3                      none          47             57             44
7                      none          40             43             39
8                 completed          64             64             67
9                      none          38             60             50
17                     none          18             32             28
..                      ...         ...            ...            ...
992                    none          55             76             76
993                    none          62             72             74
996                    none          62             55             55
997               completed          59             71             65
999                    none          77             86             86

[355 rows x 8 columns]>

In [20]:
stud.lunch.value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [33]:
stud.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [22]:
stud.lunch.value_counts('free/reduced')

standard        0.645
free/reduced    0.355
Name: lunch, dtype: float64

In [32]:
stud['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [36]:
stud['race/ethnicity'].value_counts('group В')

group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: race/ethnicity, dtype: float64

In [6]:
stud.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [9]:
# Среднее оценок по математике (весь столбец)
stud['math score'].mean()

66.089

In [14]:
# Среднее оценок со стандартным ланчем по математике 
stud.loc[stud.lunch == "standard", ['math score', 'reading score', 'writing score']].mean()

math score       70.034109
reading score    71.654264
writing score    70.823256
dtype: float64

In [15]:
# Среднее оценок с урезанным (free/reduced) ланчем по математике
stud.loc[stud.lunch == "free/reduced", ['math score', 'reading score', 'writing score']].mean()

math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64

In [16]:
# дисперсия оценок со стандартным ланчем по математике 
stud.loc[stud.lunch == "standard", ['math score', 'reading score', 'writing score']].var()

math score       186.418089
reading score    191.285560
writing score    205.620887
dtype: float64

In [17]:
# дисперсия оценок с урезанным (free/reduced) ланчем по математике
stud.loc[stud.lunch == "free/reduced", ['math score', 'reading score', 'writing score']].var()

math score       229.824270
reading score    221.871139
writing score    238.202881
dtype: float64

In [12]:
stud.loc[stud.lunch == "free/reduced"]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
17,female,group B,some high school,free/reduced,none,18,32,28
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
# 1. студенты со стандартным ланчем в среднем более хорошие оценки
# 2. дисперсия оценок студентов со стандартным ланчем меньше